body{
background-color:  black;
 align-items: center;
 height: fill;
 user-zoom: 10%;
 background-position: center;
}
img{
  height: 500vh;
  max-width:100%;  
  position:relative;
}
h1, h2{
  font-size:5vw;
  text-align: center;
  font-family: sans-serif;
  color:green;
}
