body{
background-color:  black;
 align-items: center;
 height: fill;
 user-zoom: 10%;
 background-position: center;
}
img{
  height: 1000px;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 200px;
  background-attachment: fixed;
}
h1, h2{
  font-size:5vw;
  text-align: center;
  font-family: sans-serif;
  color:green;
}
